@mixin flex($position-content: center, $direction: column) {
    display: flex;
    justify-content: $position-content;
    flex-direction: $direction;
    align-items: center;
}

@mixin shadow($blur: 10px, $darkness: 0.1) {
    box-shadow: 0 0 $blur rgba(0, 0, 0, $darkness);
}