@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

$color-background: #F0F0F5;
$color-green: #0DB14B;
$color-back-green: rgba(6, 194, 78, 0.4);
$color-orange: #FF9554;
$color-subtitles: #59616A;
$color-content: #737380;
$input-border: #DCDCE6;

$mobile-max: 768px;
