@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

$color-background: #F0F0F5;
$color-green: #0DB14B;
$color-orange: #FF9554;
$color-subtitles: #41414d;
$color-content: #737380;
$input-border: #DCDCE6;

$mobile-max: 768px;
