@import '../../../../sass/mixins';
@import '../../../../sass/variables';

.quotation-content {
    
    margin: 40px 60px 40px 20px;
    text-align: center;
    line-height: 50px;
    
    .quotation-title {
        font-size: 30px;
        text-transform: uppercase;
    }

    .quotation-value {
        color: $color-subtitles;
        font-size: 50px;
        margin-top: 20px;
        padding: 50px;
        background: lighten($color-green, 40);
        @include border-shadow(100px, 0.2);
    }

    @include mobile {
        margin: 20px 0 0 0;

        .quotation-title {
            font-size: 25px;
        }

        .quotation-value {
            margin-top: 10px;
            padding: 20px;
            font-size: 30px;
        }

        .quotation-image {
            width: 80px;
        }
    }
}