@import '../../../sass/variables';
@import '../../../sass/mixins';

header {
    width: 100%;
    padding: 15px 0px;
    background-color: #FFF;
    @include border-shadow(15px, 0.2, 0);
    @include flex(left, row);
    text-align: center;

    svg {
        height: 60px;
        width: 130px;

        .arrow-up {
            fill: $color-orange;
        }
        
        .arrow-down {
            fill: $color-green;
        }

        .element-out {
            fill: $color-subtitles;
        }
    }

    .title {

        h1 {
            @include title-green();
        }
    }
}