@import '../../../sass/variables';
@import '../../../sass/mixins';

.result-content {
    width: 70%;
    padding: 30px;
    margin: 0px auto 40px auto;
    background-color: #FFF;
    @include shadow(100px, 0.2);
    border-radius: 8px;

    @media (max-width: $mobile-max) {
        width: 90%;
    }

    h2 {
        color: $color-green;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
    }

    .result-data {
        @include flex(space-between, row);

        .result {
            width: 100%;
            margin: 25px 50px 0px 50px;
        }

        @media (max-width: $mobile-max) {
            @include flex(center, column);
        }
    }
}