@import '../../../sass/variables';
@import '../../../sass/mixins';

.result-content {
    width: 70%;
    padding: 30px;
    margin: 40px auto;
    background-color: #FFF;
    @include shadow(100px, 0.2);
    border-radius: 8px;

    h2 {
        color: $color-green;
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
    }

    .data-result {
        margin-top: 50px;
        @include flex(space-around, row);

        .col-1, .col-2 {
            span {
                font-weight: bold;
                font-size: 25px;
                color: $color-subtitles;
            }
    
            p {
                margin: 10px 0 40px 0;
                font-size: 30px;
                text-align: right;
            }
        }

    }
}