@import '../../../sass/variables';
@import '../../../sass/mixins';

.result-content {
    width: 70%;
    padding: 30px;
    margin: 40px auto;
    background-color: #FFF;
    @include shadow(100px, 0.2);
    border-radius: 8px;

    @media (max-width: $mobile-max) {
        width: 90%;
    }

    h2 {
        color: $color-green;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
    }

    .data-result {
        @include flex(space-between, row);

        @media (max-width: $mobile-max) {
            @include flex(center, column);
        }

        .commercial-dollar, .tourism-dollar {
            width: 100%;
            margin: 25px 50px 0px 50px;
            list-style: none;

            h3 {
                font-size: 22px;
                margin-bottom: 20px;
                text-align: center;
            }

            span {
                color: $color-subtitles;
                font-weight: bold;
                font-size: 18px;
            }

            p {
                font-size: 18px;
                text-align: right;
                border-bottom: dashed 1px $color-content;
                padding-bottom: 8px;
                margin-bottom: 8px;
            }
        
        }

    }
}