<div class="conversion-form">
    <section>
        <h2>Conversor</h2>
        <p>Converta e verifique informações como Cotação do Dólar, IOF, valor do dólar com ou sem imposto, valor do real com ou sem imposto.</p>
    </section>
    <form>
        <input type="text" placeholder="Informe o valor em dólar">
        <input type="text" placeholder="Informe a taxa do estado">
        <p>Informe a forma de pagamento da compra:</p>
        <div class="form-radio">
            <div>
                <input type="radio" id="dinheiro" name="payment" value="Dinheiro">
                <label for="dinheiro">Dinheiro</label>
            </div>
            <div>
                <input type="radio" id="cartao" name="payment" value="Cartão">
                <label for="cartao">Cartão</label>
            </div>
        </div>
        <button class="button">Calcular</button>
    </form>
</div>

