@import '../../sass/mixins';

.questions-container {
    width: 90%;
    padding: 30px;
    margin: 40px auto;
    background-color: #FFF;
    @include border-shadow(100px, 0.1);
}

.questions-container  .questions-list {
    
    margin: 30px;

    li {
        line-height: 30px;
        margin: 20px 0;
        
        p {
            text-align: justify;
            display: flex;
            flex-direction: column;
        }
    }
}