<section class="container">
    <h2>Dúvidas sobre principais termos e cálculos:</h2>
    <ol>
        <li>
            <strong>O que é o dólar comercial?</strong>
            <p>O dólar comercial é geralmente adquirido por empresas ou instituições financeiras, para transações
                comerciais.
            </p>
        </li>

        <li>
            <strong>O que é o dólar turismo?</strong>
            <p>O dólar turismo pode ser adquirido por pessoas físicas, para ser utilizados em viagens, por exemplo.</p>
        </li>

        <li>
            <strong>O que é a taxa do estado?</strong>
            <p>Em EUA cada estado tem sua politica de cobrança de impostos para compras. 
                <em>Exemplo: Orlando: 6,5%, Las Vegas: 8,19%, Nova Iorque: 8,87%.</em>
            </p>
        </li>
        <li>
            <strong>O que é o IOF?</strong>
            <p>É um imposto federal e tem com intuito ser um regulador da economia nacional. No caso da compra realizada
                em dinheiro é tributado 1,1% e em cartão 6,38%.
            </p>
        </li>
        <li>
            <strong>Como é calculado o valor do IOF?</strong>
            <p>O valor do IOF é somado ao resultado da conversão do dólar. 
                [(Valor do produto em dólar) + (imposto do estado aonde esta comprando) * valor do dólar] + IOF.
                <em>Exemplo: [(USD$ 149 + 8,87%) * R$ 5,15] + 6,38%.</em>
            </p>
        </li>
        <li>
            <strong>Dólar sem imposto?</strong>
            <p>O valor do dólar informado.</p>
        </li>
        <li>
            <strong>Dólar com imposto?</strong>
            <p>O valor do dólar informado somado a taxa do estado informada. 
                <em>Exemplo: USD$ 149,00 + 8,87%.</em>
            </p>
        </li>
        <li>
            <strong>Real sem imposto?</strong>
            <p>É o valor do dólar já somado a taxa do estado multiplicado pela cotação do dólar no momento do cálculo.
                <em>Exemplo: (USD$ 149 + 8,87%) * R$ 5,15.</em>
            </p>
        </li>
        <li>
            <strong>Real com imposto?</strong>
            <p>É o resultado da conversão, já somando o imposto do estado que se comprou e o IOF referente a forma de
                pagamento.
            </p>
        </li>
    </ol>
</section>
<app-icon-button 
    [fa]="faArrowLeft" 
    (action)="return()">
</app-icon-button>